@import "../../app.component.scss";

:host {
  display: grid;
  grid-template-areas:
    "maininfo rightbar";
  grid-template-columns: auto 446px;
  width: 100%;
  height: 100%;
}

.usersInfo {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  grid-area: maininfo;
}

.userInfoWindowBackground {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: 3;
  cursor: pointer;

  .userInfoWindow {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 800px;
    margin: auto;
    background-color: $grey;
    border-radius: 15px;
    cursor: auto;

    .userInfoWindowHeader {
      position: relative;
      display: flex;
      background-color: white;
      width: 100%;
      height: 80px;
      border-radius: 15px 15px 0 0;

      .userInfoWindowHeaderAvatar {
        position: relative;
        width: 55px;
        height: 55px;
        left: 10px;
        top: 13px;
        background-color: $purple;
        border-radius: 100%;
      }

      .userInfoWindowHeaderUsername {
        font-size: 23px;
        margin-top: 28px;
        margin-left: 20px;
      }

      .userInfoWindowHeaderBalance {
        position: absolute;
        font-size: 23px;
        top: 30px;
        right: 20px;
      }
    }

    .userInfoWindowBody {
      display: flex;
      flex-direction: column;
      width: calc(100% - 30px);
      height: calc(100% - 100px);
      overflow-y: auto;
      margin: auto;

      .userInfoWindowBodyLoader {
        width: 20px;
        height: 20px;
        margin: auto;
        border: 5px solid $purple;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

      .userInfoWindowBodyTransactionFromMe {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 65px;
        background-color: $green-60percent;
        border-radius: 10px;
        margin-bottom: 10px;

        .transactionSvgContainer {
          display: flex;

          .transactionSvg {
            width: 30px;
            height: 30px;
            margin-top: 17px;
            margin-left: 20px;
            cursor: pointer;

            path {
              stroke: white
            }
          }
        }

        p {
          display: inline-block;
          margin: 20px auto 0;
          font-weight: 700;
          font-size: 20px;
          color: white;
        }

        p:nth-child(2){
          margin-left: 50px;
        }

        p:last-child{
          margin-right: 40px;
        }

        .userInfoWindowBodyTransactionFrom, .userInfoWindowBodyTransactionTo {
          width: 200px;
          user-select: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
        }
      }
      .userInfoWindowBodyTransactionToMe {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 65px;
        background-color: $purple-60percent;
        border-radius: 10px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;

        .transactionSvgContainer {
          display: flex;

          .transactionSvg {
            width: 30px;
            height: 30px;
            margin-top: 17px;
            margin-left: 20px;
            cursor: pointer;

            path {
              stroke: white
            }
          }
        }

        p {
          display: inline-block;
          margin: 20px auto 0;
          font-weight: 700;
          font-size: 20px;
          color: white;
        }

        p:nth-child(2){
          margin-left: 50px;
        }

        p:last-child{
          margin-right: 40px;
        }

        .userInfoWindowBodyTransactionFrom, .userInfoWindowBodyTransactionTo {
          width: 200px;
          user-select: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
        }
      }
      .userInfoWindowBodyTransactionRolledBack {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 65px;
        background-color: $red-60percent;
        border-radius: 10px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;

        .transactionSvgContainer {
          display: flex;

          .transactionSvg {
            width: 30px;
            height: 30px;
            margin-top: 17px;
            margin-left: 20px;
            cursor: pointer;

            path {
              stroke: white
            }
          }
        }

        p {
          display: inline-block;
          margin: 20px auto 0;
          font-weight: 700;
          font-size: 20px;
          color: white;
        }

        p:nth-child(2){
          margin-left: 50px;
        }

        p:last-child{
          margin-right: 40px;
        }

        .userInfoWindowBodyTransactionFrom, .userInfoWindowBodyTransactionTo {
          width: 200px;
          user-select: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
        }
      }
    }
  }
}

.usersInfoContainer {
  margin-top: 54px;
  margin-left: 48px;
  margin-right: 48px;
}

.titleSpan {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 12px;
}

.titleUsersSvg {
  width: 35px;
  height: 35px;
  margin-top: 2px;
  margin-left: 10px;

  path {
    stroke: black;
  }
}

.overview {
  color: $grey-p;
  font-weight: 700;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}

.search {
  position: relative;
  width: 100%;
  height: 72px;
  margin-bottom: 20px;

  .searchInput {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: $grey-p;
    font-weight: 700;
    font-size: 20px;
    text-indent: 35px;
    border-radius: 10px;

    &::placeholder {
      color: $light-grey-p;
    }
  }

  .searchSvg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 19px;
    right: 19px;
    stroke: $light-grey-svg;
  }
}

.userList {
  width: 100%;
}

.userItem {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-color: white;
  border-radius: 10px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  .userItemUsername {
    width: 180px;
    margin: 12px auto 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .userItemBalance {
    margin: 12px auto 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .userItemRole {
    margin: 12px auto 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .userItemStatus {
    margin: 12px 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .userItemStatusSelect {
    margin: 0 0 0 10px;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: $purple;
    color: white;
    border-radius: 10px;
  }
}

.emptyBlock {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: rightbar;
}

@media screen and (max-width: 1880px) {
  :host {
    grid-template-columns: auto 380px;
  }

  .usersInfoContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 35px;
  }

  .titleUsersSvg {
    width: 27px;
    height: 27px;
  }

  .search {
    height: 55px;
    margin-bottom: 15px;

    .searchInput {
      font-size: 18px;
    }

    .searchSvg {
      width: 25px;
      height: 25px;
      top: 15px;
      right: 15px;
    }
  }

  .userItem {
    height: 60px;
    padding: 10px 32px;
    font-size: 18px;
    margin-bottom: 10px;

    .userItemStatusSelect {
      width: 130px;
      height: 20px;
      font-size: 16px;
      border-radius: 7px;
    }
  }

  .userInfoWindowBackground {
    .userInfoWindow {
      width: 1000px;
      height: 600px;

      .userInfoWindowHeader {
        height: 60px;

        .userInfoWindowHeaderAvatar {
          width: 35px;
          height: 35px;
        }

        .userInfoWindowHeaderUsername {
          font-size: 17px;
          margin-top: 22px;
        }

        .userInfoWindowHeaderBalance {
          font-size: 17px;
          top: 22px;
        }
      }

      .userInfoWindowBody {
        .userInfoWindowBodyTransactionFromMe {
          height: 55px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 25px;
              height: 25px;
              margin-top: 15px;
            }
          }

          p {
            font-size: 18px;
          }
        }
        .userInfoWindowBodyTransactionToMe {
          height: 55px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 25px;
              height: 25px;
              margin-top: 15px;
            }
          }

          p {
            font-size: 18px;
          }
        }
        .userInfoWindowBodyTransactionRolledBack {
          height: 55px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 25px;
              height: 25px;
              margin-top: 15px;
            }
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1670px) {
  :host {
    grid-template-columns: auto 300px;
  }

  .usersInfoContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .titleUsersSvg {
    width: 20px;
    height: 20px;
  }

  .overview {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .search {
    height: 40px;
    margin-bottom: 10px;

    .searchInput {
      font-size: 14px;
      text-indent: 20px;
    }

    .searchSvg {
      width: 20px;
      height: 20px;
      top: 10px;
      right: 10px;
    }
  }

  .userItem {
    height: 45px;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;

    .userItemStatusSelect {
      width: 120px;
      height: 20px;
      font-size: 14px;
      border-radius: 7px;
    }
  }

  .userInfoWindowBackground {
    .userInfoWindow {
      width: 900px;
      height: 550px;

      .userInfoWindowHeader {
        height: 50px;

        .userInfoWindowHeaderAvatar {
          width: 30px;
          height: 30px;
          top: 10px;
        }

        .userInfoWindowHeaderUsername {
          font-size: 14px;
          margin-top: 18px;
        }

        .userInfoWindowHeaderBalance {
          font-size: 14px;
          top: 18px;
        }
      }

      .userInfoWindowBody {
        .userInfoWindowBodyTransactionFromMe {
          height: 45px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 20px;
              height: 20px;
              margin-top: 13px;
            }
          }

          p {
            font-size: 14px;
            margin: 15px auto 0;
          }
        }
        .userInfoWindowBodyTransactionToMe {
          height: 45px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 20px;
              height: 20px;
              margin-top: 13px;
            }
          }

          p {
            font-size: 14px;
            margin: 15px auto 0;
          }
        }
        .userInfoWindowBodyTransactionRolledBack {
          height: 45px;
          border-radius: 8px;

          .transactionSvgContainer {
            .transactionSvg {
              width: 20px;
              height: 20px;
              margin-top: 13px;
            }
          }

          p {
            font-size: 14px;
            margin: 15px auto 0;
          }
        }
      }
    }
  }

  ::ng-deep {
    .skeletonUserItem {
      width: 100% !important;
      height: 40px !important;
      border-radius: 7px !important;
      padding: 27px !important;
      margin-bottom: 10px !important;
    }

    .p-contextmenu {
      width: 100px;
      height: 50px;
    }
  }
}