<div class="usersInfo">
  <div class="usersInfoContainer">
    <span class="titleSpan">
      <p class="title">Users</p>
      <svg-icon src="../../../assets/svg/user.svg" class="titleUsersSvg" />
    </span>
    <p class="overview">An overview of users</p>
    <div class="search">
      <input type="text" class="searchInput" placeholder="Search Users" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <div class="userList" [@userListAnimation]>
      <div *ngFor="let user of users" class="userItem">
        <p class="userItemUsername">
          Username: Levis Farrell
        </p>
        <p class="userItemBalance">
          Balance: $100
        </p>
        <p class="userItemRole">
          Role: User
        </p>
        <p class="userItemStatus">
          <span>Status:</span>
          <select class="userItemStatusSelect">
            <option value="Active">Active</option>
            <option value="Suspended">Suspended</option>
          </select>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="emptyBlock"></div>
