@import "../../app.component.scss";

:host {
  display: grid;
  grid-template-areas:
    "maininfo rightbar";
  grid-template-columns: auto 446px;
  width: 100%;
  height: 100%;
}

.usersInfo {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  grid-area: maininfo;
}

.usersInfoContainer {
  margin-top: 54px;
  margin-left: 48px;
  margin-right: 48px;
}

.titleSpan {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 12px;
}

.titleUsersSvg {
  width: 35px;
  height: 35px;
  margin-top: 2px;
  margin-left: 10px;

  path {
    stroke: black;
  }
}

.overview {
  color: $grey-p;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
}

.search {
  position: relative;
  width: 100%;
  height: 72px;
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: $grey-p;
  font-weight: 700;
  font-size: 20px;
  text-indent: 35px;
  border-radius: 10px;

  &::placeholder {
    color: $light-grey-p;
  }
}

.searchSvg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 19px;
  right: 19px;
  stroke: $light-grey-svg;
}


.userList {
  width: 100%;
}

.userItem {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-color: white;
  border-radius: 10px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.userItemUsername {
  margin-top: 12px;
}

.userItemBalance {
  margin-top: 12px;
}

.userItemRole {
  margin-top: 12px;
}

.userItemStatus {}

.userItemStatusSelect {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background-color: $purple;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
}

.emptyBlock {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: rightbar;
}