<div class="depositInfo">
  <div class="depositInfoContainer">
    <p class="title">Deposit</p>
    <p class="overview">An overview of deposit</p>
    <div class="depositForm">
      <input type="text" class="depositInput" placeholder="Card Holder Name" />
      <input type="text" class="depositInput" placeholder="0000-0000-0000-0000" />
      <input type="text" class="depositInput" placeholder="mm/dd" />
      <input type="text" class="depositInput" placeholder="Amount" />
      <input type="text" class="depositInput" placeholder="Cvv" />
      <select class="depositInput">
        <option value="Visa">Visa</option>
        <option value="MasterCard">Master Card</option>
      </select>
      <button class="depositOkButton">
        Ok
      </button>
    </div>
  </div>
</div>
<div class="emptyBlock"></div>