<div class="depositInfo">
  <div class="depositInfoContainer">
    <span class="titleSpan">
      <p class="title">Deposit</p>
      <svg-icon src="../../../assets/svg/money.svg" class="titleMoneySvg" />
    </span>
    <p class="overview">An overview of deposit</p>
    <div class="depositForm" [@depositFormAnimation]="">
      <input type="text" class="depositInput" [(ngModel)]="creditCardId" placeholder="Credit Card Id"/>
      <input type="text" class="depositInput" [(ngModel)]="amount" placeholder="Amount" mask="0000000000000"/>
      <button class="depositOkButton" (click)="onClickTopUpAccountBalanceHandler()">
        Ok
      </button>
    </div>
  </div>
</div>
<div class="emptyBlock"></div>