@import "../../app.component.scss";

:host {
  display: grid;
  grid-template-areas:
    "maininfo rightbar";
  grid-template-columns: auto 446px;
  width: 100%;
  height: 100%;
}

.depositInfo {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  grid-area: maininfo;
}

.depositInfoContainer {
  margin-top: 54px;
  margin-left: 48px;
  margin-right: 48px;
}

.titleSpan {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 12px;
}

.titleMoneySvg {
  width: 35px;
  height: 35px;
  margin-top: 2px;
  margin-left: 10px;

  path {
    fill: black;
  }
}

.overview {
  color: $grey-p;
  font-weight: 700;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}

.depositForm {
  display: flex;
  flex-direction: column;
  width: 100%;

  ::ng-deep {
    .depositInput {
      &.p-dropdown {
        width: 100%;
        height: 65px;
        outline: none;
        border: none;
        margin-bottom: 34px;
        border-radius: 10px;
        text-align: center;

        & input {
          font-weight: 700;
          font-size: 20px;
          color: black;
          padding-left: 55px;
          text-align: center;
          &::placeholder {
            color: $light-grey-p;
          }
          &:hover {
            cursor: text;
          }
        }
      }

      &.p-dropdown-trigger {
        position: absolute;
        right: 200px;
        top: 25px
      }
    }
  }

  .depositInput {
    width: 100%;
    height: 65px;
    outline: none;
    border: none;
    margin-bottom: 34px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    &::placeholder {
      color: $light-grey-p;
    }
  }

  .depositOkButton {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: $purple;
  }
}

.emptyBlock {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: rightbar;
}

@media screen and (max-width: 1880px) {
  :host {
    grid-template-columns: auto 380px;
  }

  .depositInfoContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 35px;
  }

  .titleMoneySvg {
    width: 27px;
    height: 27px;
  }

  .depositForm {
    ::ng-deep {
      .depositInput {
        &.p-dropdown {
          height: 50px;
          margin-bottom: 20px;

          & input {
            font-size: 18px;
          }
        }
      }
    }

    .depositInput {
      height: 50px;
      margin-bottom: 20px;
      font-size: 18px;
    }

    .depositOkButton {
      height: 50px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1670px) {
  :host {
    grid-template-columns: auto 300px;
  }

  .depositInfoContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .titleMoneySvg {
    width: 16px;
    height: 16px;
  }

  .overview {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .depositForm {
    ::ng-deep {
      .depositInput {
        &.p-dropdown {
          height: 40px;
          border-radius: 10px;
          margin-bottom: 10px;
          font-size: 14px;

          & input {
            height: 40px;
            border-radius: 10px;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }

    .depositInput {
      height: 40px;
      border-radius: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .depositOkButton {
      height: 40px;
      font-size: 14px;
      border-radius: 8px;
    }
  }
}