# dotnet_diagnostic.CA1848.severity = none
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{yml,yaml,json,tf,md}]
indent_size = 2

[*.{cs,vb}]
dotnet_diagnostic.CS1591.severity = none