@import "../../../app/app.component.scss";

:host {
  display: grid;
  grid-template-areas:
    "maininfo rightbar";
  grid-template-columns: auto 446px;
  width: 100%;
  height: 100%;
}

.transactionsInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  grid-area: maininfo;
}

.transactionsInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 54px;
  margin-left: 48px;
  margin-right: 48px;
}

.titleSpan {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 12px;
}

.titleTransactionSvg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;

  path {
    stroke: black
  }
}

.overview {
  color: $grey-p;
  font-weight: 700;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}

.walletAndUserInfoContainer {
  display: flex;
  margin-bottom: 67px;
}

.wallet {
  position: relative;
  flex-shrink: 0;
  width: 422px;
  height: 246px;
  background-color: $purple;
  border-radius: 10px;
}

.walletTitle {
  margin-top: 48px;
  margin-left: 35px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.walletBalance {
  margin-left: 35px;
  font-weight: 700;
  font-size: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.logo {
  position: absolute;
  right: 33px;
  bottom: 15px;
  display: flex;
}

.logoSvg {
  width: 26px;
  height: 13px;
  margin-top: 3px;
  stroke: white;
  fill: $purple
}

.logoTitle {
  margin-top: 3px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.userInfo {
  display: flex;
  width: 100%;
  min-width: 490px;
  max-width: 650px;
  height: 246px;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
}

.userInfoAvatar {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  margin-top: 44px;
  margin-left: 33px;
  border-radius: 100%;
  background-color: $purple
}

.userInfoData {
  margin-top: 62px;
  margin-left: 32px;
}

.userInfoFullName {
  font-weight: 700;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 7px;
}

.userInfoId {
  font-weight: 700;
  font-size: 15px;
}

.searchTransactions {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 72px;
  margin-bottom: 12px;
}

.searchTransactionsInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: $grey-p;
  text-indent: 35px;
  border-radius: 10px;

  &::placeholder {
    color: $light-grey-p;
  }
}

.searchSvg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 19px;
  right: 19px;
  stroke: $light-grey-svg;
}

.transactionList {}

.transactionItemToMe {
  display: flex;
  padding-top: 21px;
  padding-left: 36px;
  width: 100%;
  height: 72px;
  margin-bottom: 12px;
  background-color: $green-60percent;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;

  .transactionItemToMeInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
  }
}

.transactionItemFromMe {
  display: flex;
  padding-top: 21px;
  padding-left: 36px;
  height: 72px;
  margin-bottom: 12px;
  background-color: $purple-60percent;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;

  .transactionItemFromMeInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
  }
}

.transactionItemRolledBack {
  display: flex;
  padding-top: 21px;
  padding-left: 36px;
  width: 100%;
  height: 72px;
  margin-bottom: 12px;
  background-color: $red-60percent;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;

  .transactionItemRolledBackInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
  }
}

.transactionSvg {
  width: 30px;
  height: 30px;

  path {
    stroke: white
  }
}

.transactionItemFrom {
  width: 200px;
  margin-top: 3px;
  margin-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.transactionItemTo {
  width: 200px;
  margin-top: 3px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.transactionItemAmount {
  width: 200px;
  margin-top: 3px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transactionItemDate {
  width: 200px;
  margin-top: 3px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.createNewTransaction {
  display: flex;
  grid-area: rightbar;
  width: 100%;
  height: 100%;
  background-color: white;
}

.createNewTransactionContainer {
  margin: 0 auto;
  margin-top: 67px;
  width: 90%;
}

.createNewTransactionTitle {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
  text-align: center;
}

.createNewTransactionToInput {
  width: 100%;
  height: 60px;
  outline: none;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: $grey-2;
  text-indent: 32px;
  border-radius: 10px;

  &::placeholder {
    color: $light-grey-p;
  }
}

.createNewTransactionAmountInput {
  width: 100%;
  height: 60px;
  outline: none;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: $grey-2;
  text-indent: 32px;
  border-radius: 10px;

  &::placeholder {
    color: $light-grey-p;
  }
}

.createNewTransactionOkButton {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: $purple;
  font-weight: 700;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: .1s;

  &:hover {
    background-color: $purple-hover-button;
  }
}

.emptyTransactionList {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  height: 100%;
  color: $light-grey-p;
  font-size: 20px;
  font-weight: 700;

  p {
    display: block;
    margin: auto auto;
  }
}
