<div class="transactionsInfo">
  <div class="transactionsInfoContainer">
    <span class="titleSpan">
      <p class="title">Transactions</p>
      <svg-icon src="../../../assets/svg/transaction.svg" class="titleTransactionSvg" />
    </span>
    <p class="overview">An overview of wallet, user information and transactions</p>
    <div class="walletAndUserInfoContainer">
      <div class="wallet">
        <p class="walletTitle">Wallet Balance</p>
        <p class="walletBalance">
          <ng-container *ngIf="user$ | async as user else userIsNull">
            €{{user.wallet.balance}}
          </ng-container>
          <ng-template #userIsNull>
            <p-skeleton styleClass="skeletonDefault" />
          </ng-template>
        </p>
        <div class="logo">
          <svg-icon src="../../../assets/svg/logo.svg" class="logoSvg" />
          <p class="logoTitle">Event Triangle</p>
        </div>
      </div>
      <div class="userInfo">
        <div class="userInfoAvatar"></div>
        <div class="userInfoData">
          <p class="userInfoFullName">
            <ng-container *ngIf="user$ | async as user else userIsNull">
              {{_textService.pullUsernameFromMail(user.email)}}
            </ng-container>
            <ng-template #userIsNull>
              <p-skeleton styleClass="skeletonDefault" />
            </ng-template>
          </p>
          <span class="userInfoId">
            <ng-container *ngIf="user$ | async as user; else userIsNull">
              ID: {{user.id}}
            </ng-container>
            <ng-template #userIsNull>
              <p-skeleton styleClass="skeletonDefault" />
            </ng-template>
          </span>
        </div>
      </div>
    </div>
    <div class="searchTransactions">
      <input type="text" class="searchTransactionsInput" placeholder="Search Transactions" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <ng-container *ngIf="transactions$ | async as transactions">
      <div class="transactionList" [@transactionItemAnimation]=""
           *ngIf="transactions.length > 0 && _transactionsStateService.wasRequested">
        <div *ngFor="let transaction of transactions; trackBy: identifyTransactionDto" class="{{getTransactionClassName(transaction)}}">
          <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
          <div class="{{getTransactionInfoClassName(transaction)}}">
            <p class="transactionItemFrom">
              From: {{transaction.fromUserId}}
            </p>
            <p class="transactionItemTo">
              To: {{transaction.toUserId}}
            </p>
            <p class="transactionItemAmount">
              Amount: €{{transaction.amount}}
            </p>
            <p class="transactionItemDate">
              {{_dateService.getTimeAndDate(transaction.createdAt)}}
            </p>
          </div>
        </div>
      </div>
      <div class="emptyTransactionList" *ngIf="transactions.length === 0 && _transactionsStateService.wasRequested">
        <p>No transactions yet</p>
      </div>
    </ng-container>
    <div class="transactionList" [@transactionItemAnimation]="" *ngIf="!_transactionsStateService.wasRequested">
      <p-skeleton styleClass="skeletonTransactionItem" />
      <p-skeleton styleClass="skeletonTransactionItem" />
      <p-skeleton styleClass="skeletonTransactionItem" />
      <p-skeleton styleClass="skeletonTransactionItem" />
      <p-skeleton styleClass="skeletonTransactionItem" />
    </div>
  </div>
</div>
<div class="createNewTransaction">
  <div class="createNewTransactionContainer">
    <div [@rightBarAnimation]="">
      <p class="createNewTransactionTitle">
        Create New Transaction
      </p>
      <input type="text" class="createNewTransactionToInput"
             placeholder="To: Receiver" [(ngModel)]="toUserId"/>
      <input type="text" class="createNewTransactionAmountInput"
             placeholder="Amount: €0"  [(ngModel)]="amount"/>
      <button class="createNewTransactionOkButton" (click)="sendMoneyToUser(toUserId, amount)">
        Ok
      </button>
    </div>
  </div>
</div>