<div class="transactionsInfo">
  <div class="transactionsInfoContainer">
    <span class="titleSpan">
      <p class="title">Transactions</p>
      <svg-icon src="../../../assets/svg/transaction.svg" class="titleTransactionSvg" />
    </span>
    <p class="overview">An overview of wallet, user information and transactions</p>
    <div class="walletAndUserInfoContainer">
      <div class="wallet">
        <p class="walletTitle">Wallet Balance</p>
        <p class="walletBalance">$48.000.000</p>
        <div class="logo">
          <svg-icon src="../../../assets/svg/logo.svg" class="logoSvg" />
          <p class="logoTitle">Event Triangle</p>
        </div>
      </div>
      <div class="userInfo">
        <div class="userInfoAvatar"></div>
        <div class="userInfoData">
          <p class="userInfoFullName">
            William Calhoun
          </p>
          <p class="userInfoAge">
            27 age old
          </p>
        </div>
      </div>
    </div>
    <div class="searchTransactions">
      <input type="text" class="searchTransactionsInput" placeholder="Search Transactions" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <div class="transactionList">
      <div class="transactionItemToMe">
        <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
        <div class="transactionItemToMeInfo">
          <p class="transactionItemFrom">
            From: Sender
          </p>
          <p class="transactionItemTo">
            To: Receiver
          </p>
          <p class="transactionItemAmount">
            Amount: $150
          </p>
          <p class="transactionItemDate">
            15:27 02/04/2023
          </p>
        </div>
      </div>
      <div class="transactionItemFromMe">
        <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
        <div class="transactionItemFromMeInfo">
          <p class="transactionItemFrom">
            From: Sender
          </p>
          <p class="transactionItemTo">
            To: Receiver
          </p>
          <p class="transactionItemAmount">
            Amount: $150
          </p>
          <p class="transactionItemDate">
            15:27 02/04/2023
          </p>
        </div>
      </div>
      <div class="transactionItemRollbacked">
        <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
        <div class="transactionItemRollbackedInfo">
          <p class="transactionItemFrom">
            From: Sender
          </p>
          <p class="transactionItemTo">
            To: Receiver
          </p>
          <p class="transactionItemAmount">
            Amount: $150
          </p>
          <p class="transactionItemDate">
            15:27 02/04/2023
          </p>
        </div>
      </div>
      <div class="transactionItemFromMe">
        <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
        <div class="transactionItemFromMeInfo">
          <p class="transactionItemFrom">
            From: Sender
          </p>
          <p class="transactionItemTo">
            To: Receiver
          </p>
          <p class="transactionItemAmount">
            Amount: $150
          </p>
          <p class="transactionItemDate">
            15:27 02/04/2023
          </p>
        </div>
      </div>
      <div class="transactionItemFromMe">
        <svg-icon src="../../../assets/svg/transaction.svg" class="transactionSvg" />
        <div class="transactionItemFromMeInfo">
          <p class="transactionItemFrom">
            From: Sender
          </p>
          <p class="transactionItemTo">
            To: Receiver
          </p>
          <p class="transactionItemAmount">
            Amount: $150
          </p>
          <p class="transactionItemDate">
            15:27 02/04/2023
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="createNewTransaction">
  <div class="createNewTransactionContainer">
    <p class="createNewTransactionTitle">
      Create New Transaction
    </p>
    <input type="text" class="createNewTransactionToInput" placeholder="To: Receiver" />
    <input type="text" class="createNewTransactionAmountInput" placeholder="Amount: $0" />
    <button class="createNewTransactionOkButton">Ok</button>
  </div>
</div>