<div class="ticketsInfo">
  <div class="ticketsInfoContainer">
    <span class="titleSpan">
      <p class="title">Tickets</p>
      <svg-icon src="../../../assets/svg/ticket.svg" class="titleTicketsSvg" />
    </span>
    <p class="overview">An overview of tickets</p>
    <ng-container *ngIf="tickets$ | async as tickets">
      <div class="ticketList" *ngIf="tickets.length > 0" [@ticketListAnimation]="">
        <div class="ticketItem" *ngFor="let ticket of tickets; trackBy: identifyTicketDto" [@ticketItemAnimation]="">
          <p class="ticketItemTransactionId">
            Transaction Id: {{ticket.transactionId}}
          </p>
          <p class="ticketItemStatus">
            <span>Status: {{ticket.ticketStatus == 1 ? "Open" : "Resolved"}}</span>
          </p>
          <p class="ticketItemDescriptionTitle">
            Description
          </p>
          <p class="ticketItemDescriptionText">
            {{ticket.ticketReason}}
          </p>
          <p class="ticketItemResponseToUser">
            Response to user
          </p>
          <textarea class="ticketItemResponseToUserTextarea" placeholder="Write Response" (keydown.enter)="$event.preventDefault()"
                    [(ngModel)]="ticket.ticketJustification" (keyup.enter)="onClickResolveTicketHandler(ticket.id, ticket.ticketJustification)">
          </textarea>
          <div class="ticketItemButtonContainer">
            <button class="ticketItemRollBackButton"
                    [disabled]="isTransactionRollBacked(ticket.transactionId)"
                    (click)="onClickRollBackHandler(ticket.transactionId)">
              {{isTransactionRollBacked(ticket.transactionId) ? "Roll Backed" : "Roll Back"}}
            </button>
            <button class="ticketItemOkButton" (click)="onClickResolveTicketHandler(ticket.id, ticket.ticketJustification)">
              Ok
            </button>
          </div>
        </div>
        <div class="ticketListLoaderBackground" [@ticketListLoaderAnimation]="" *ngIf="ticketListLoaderAnimation">
          <span class="ticketListLoader"></span>
        </div>
      </div>
    </ng-container>
    <div class="ticketList" *ngIf="!_ticketStateService.wasRequested">
      <p-skeleton styleClass="skeletonTicketItem" />
      <p-skeleton styleClass="skeletonTicketItem" />
      <p-skeleton styleClass="skeletonTicketItem" />
      <p-skeleton styleClass="skeletonTicketItem" />
    </div>
  </div>
</div>
<div class="emptyBlock"></div>
