<div class="ticketsInfo">
  <div class="ticketsInfoContainer">
    <p class="title">Tickets</p>
    <p class="overview">An overview of tickets
    </p>
  </div>
  <div class="ticketList">
    <div class="ticketItem">
      <p class="ticketItemTransactionId">
        Transaction Id: 027241ac-601d-40c2-9f1d-c7feff04183e
      </p>
      <p class="ticketItemStatus">
        <span>Status: </span>
        <select class="ticketItemStatusSelect">
          <option value="Open">Open</option>
          <option value="Resolved">Resolve</option>
        </select>
      </p>
      <p class="ticketItemDescriptionTitle">
        Description
      </p>
      <p class="ticketItemDescriptionText">
        I would like to cancel my transaction because of an error when entering the username
      </p>
      <p class="ticketItemResponseToUser">
        Response to user
      </p>
      <textarea class="ticketItemResponseToUserTextarea" placeholder="Write Response">
        Hello, your transaction is cancelled
      </textarea>
      <button class="ticketItemOkButton">
        Ok
      </button>
    </div>
  </div>
</div>
<div class="emptyBlock"></div>