<div class="supportInfo">
  <div class="supportInfoContainer">
    <span class="titleSpan">
      <p class="title">Support</p>
      <svg-icon src="../../../assets/svg/support.svg" class="titleSupportSvg" />
    </span>
    <p class="overview">An overview of support</p>
    <ng-container *ngIf="supportTickets$ | async as supportTickets">
      <div class="ticketList" *ngIf="supportTickets.length > 0" [@supportTicketListAnimation]="">
        <div class="ticketItem" *ngFor="let ticket of supportTickets; trackBy: identifySupportTicketDto">
          <p class="ticketItemTransactionId">
            Transaction Id: {{ticket.transactionId}}
          </p>
          <p class="ticketItemStatus">
            Status: {{ticket.ticketStatus === 1 ? 'Open' : 'Resolved'}}
          </p>
          <p class="ticketItemDescriptionTitle">
            Description
          </p>
          <p class="ticketItemDescriptionText">
            {{ticket.ticketReason}}
          </p>
          <ng-container *ngIf="ticket.ticketJustification">
            <p class="ticketItemResponseTitle">
              Response
            </p>
            <p class="ticketItemResponseText">
              {{ticket.ticketJustification}}
            </p>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="ticketList" *ngIf="!_supportTicketStateService.wasRequested">
      <p-skeleton styleClass="skeletonSupportTicketItem" />
      <p-skeleton styleClass="skeletonSupportTicketItem" />
      <p-skeleton styleClass="skeletonSupportTicketItem" />
      <p-skeleton styleClass="skeletonSupportTicketItem" />
    </div>
  </div>
</div>
<div class="createTicket">
  <div class="createTicketContainer">
    <div [@rightBarAnimation]="">
      <p class="createTicketTitle">
        Create Ticket
      </p>
      <input type="text" class="createTicketInput" placeholder="Transaction Id" (keydown.enter)="$event.preventDefault()"
             [(ngModel)]="transactionId" (keyup.enter)="onClickOpenSupportTicketHandler()" />
      <textarea class="createTicketTextarea" placeholder="Reason of ticket" (keydown.enter)="$event.preventDefault()"
                [(ngModel)]="ticketReason" (keyup.enter)="onClickOpenSupportTicketHandler()"></textarea>
      <button class="createTicketOkButton" (click)="onClickOpenSupportTicketHandler()">
        Ok
      </button>
    </div>
  </div>
</div>