@import "../../app.component.scss";

:host {
  display: grid;
  grid-template-areas:
  "maininfo rightbar";
  grid-template-columns: auto 446px;
  width: 100%;
  height: 100%;
}

.cardsInfo {
  width: 100%;
  height: 100%;
  grid-area: maininfo;
}

.cardsInfoContainer {
  margin-top: 54px;
  margin-left: 48px;
  margin-right: 48px;
}

.titleSpan {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleCardSvg {
  width: 35px;
  height: 35px;
  margin-top: 3px;
  margin-left: 10px;

  path {
    fill: black;
}
}

.overview {
  color: $grey-p;
  font-weight: 700;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  width: 100%;
  column-gap: 20px;
  row-gap: 20px;
}

.cardItem {
  position: relative;
  width: 290px;
  height: 183px;
  background-color: $purple;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.cardItemTitle {
  position: absolute;
  font-size: 20px;
  top: 22px;
  left: 22px;
}

.cardItemNumbers {
  position: absolute;
  font-size: 24px;
  top: 70px;
  left: 22px;
}

.cardItemExpiryDate {
  position: absolute;
  font-size: 16px;
  top: 147px;
  right: 22px;
}

.cardItemFullName {
  position: absolute;
  font-size: 16px;
  top: 147px;
  left: 22px;
}

.addNewCard {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  grid-area: rightbar;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.addNewCardContainer {
  margin: 0 auto;
  margin-top: 67px;
  width: 90%;
}

.addNewCardTitle {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.addNewCardInput {
  width: 100%;
  height: 60px;
  outline: none;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: $grey-2;
  text-indent: 32px;
  border-radius: 10px;

  &::placeholder {
    color: $light-grey-p;
  }
}

.addNewCardOkButton {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: $purple;
  font-weight: 700;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: .1s;

  &:hover {
    background-color: $purple-hover-button;
  }
}
