<div class="cardsInfo">
  <div class="cardsInfoContainer">
    <p class="title">Cards</p>
    <p class="overview">An overview of cards</p>
    <div class="cardList">
      <div class="cardItem">
        <p class="cardItemTitle">Master Card</p>
        <p class="cardItemNumbers">4234 4333 6324 4254</p>
        <p class="cardItemCvv">313</p>
        <p class="cardItemExpiryDate">12/12</p>
        <p class="cardItemFullName">W. Callhoun</p>
      </div>
      <div class="cardItem">
        <p class="cardItemTitle">Master Card</p>
        <p class="cardItemNumbers">4234 4333 6324 4254</p>
        <p class="cardItemCvv">313</p>
        <p class="cardItemExpiryDate">12/12</p>
        <p class="cardItemFullName">W. Callhoun</p>
      </div>
      <div class="cardItem">
        <p class="cardItemTitle">Master Card</p>
        <p class="cardItemNumbers">4234 4333 6324 4254</p>
        <p class="cardItemCvv">313</p>
        <p class="cardItemExpiryDate">12/12</p>
        <p class="cardItemFullName">W. Callhoun</p>
      </div>
      <div class="cardItem">
        <p class="cardItemTitle">Master Card</p>
        <p class="cardItemNumbers">4234 4333 6324 4254</p>
        <p class="cardItemCvv">313</p>
        <p class="cardItemExpiryDate">12/12</p>
        <p class="cardItemFullName">W. Callhoun</p>
      </div>
      <div class="cardItem">
        <p class="cardItemTitle">Master Card</p>
        <p class="cardItemNumbers">4234 4333 6324 4254</p>
        <p class="cardItemCvv">313</p>
        <p class="cardItemExpiryDate">12/12</p>
        <p class="cardItemFullName">W. Callhoun</p>
      </div>
    </div>
  </div>
</div>
<div class="addNewCard">
  <div class="addNewCardContainer">
    <p class="addNewCardTitle">
      Add New Card
    </p>
    <input type="text" class="addNewCardInput" placeholder="Card Holder Name" />
    <input type="text" class="addNewCardInput" placeholder="0000-0000-0000-0000" />
    <input type="text" class="addNewCardInput" placeholder="mm/dd" />
    <input type="text" class="addNewCardInput" placeholder="Cvv" />
    <select class="addNewCardInput">
      <option value="Visa">Visa</option>
      <option value="MasterCard">Master Card</option>
    </select>
    <button class="addNewCardOkButton">Ok</button>
  </div>
</div>