<div class="cardsInfo">
  <div class="cardsInfoContainer">
    <span class="titleSpan">
      <p class="title">Cards</p>
      <svg-icon src="../../../assets/svg/credit-card.svg" class="titleCardSvg"/>
    </span>
    <p class="overview">An overview of cards</p>
    <ng-container *ngIf="cards$ | async as cards">
      <div class="cardList" [@cardListAnimation]="" *ngIf="cards.length > 0">
          <div *ngFor="let card of cards; trackBy: identifyCardDto" class="cardItem" [@cardItemAnimation]="">
            <p class="cardItemTitle">{{card.paymentNetwork == PaymentNetwork.Visa ? 'Visa' : 'MasterCard'}}</p>
            <p class="cardItemNumbers">{{card.cardNumber}}</p>
            <p class="cardItemExpiryDate">{{card.expiration}}</p>
            <p class="cardItemFullName">{{card.holderName}}</p>
          </div>
      </div>
    </ng-container>
    <div class="cardList" *ngIf="!_creditCardsStateService.wereCardsRequested">
      <p-skeleton styleClass="skeletonCardItem" />
      <p-skeleton styleClass="skeletonCardItem" />
      <p-skeleton styleClass="skeletonCardItem" />
    </div>
  </div>
</div>
<div class="addNewCard">
  <div class="addNewCardContainer">
    <div [@rightBarAnimation]="">
      <p class="addNewCardTitle">
        Add New Card
      </p>
      <input type="text" class="addNewCardInput"
             (keydown.enter)="$event.preventDefault()" (keyup.enter)="onAttachCardOkClick()"
             placeholder="Card Holder Name" id="CardHolderName"
             [(ngModel)]="cardHolderName"/>
      <input type="text" class="addNewCardInput"
             (keydown.enter)="$event.preventDefault()" (keyup.enter)="onAttachCardOkClick()"
             placeholder="0000 0000 0000 0000" id="CardNumber" mask="0000 0000 0000 0000"
             [(ngModel)]="cardNumber"/>
      <input type="text" class="addNewCardInput"
             (keydown.enter)="$event.preventDefault()" (keyup.enter)="onAttachCardOkClick()"
             placeholder="mm/dd" id="Expiration" mask="00/00"
             [(ngModel)]="expiration"/>
      <input type="text" class="addNewCardInput"
             (keydown.enter)="$event.preventDefault()" (keyup.enter)="onAttachCardOkClick()"
             placeholder="CVV/CVC" id="Cvv" mask="000"
             [(ngModel)]="cvv"/>
      <select [(ngModel)]="paymentNetwork" class="addNewCardInput">
        <option [ngValue]="PaymentNetwork.Visa">Visa</option>
        <option [ngValue]="PaymentNetwork.MasterCard">Master Card</option>
      </select>
      <button class="addNewCardOkButton" (click)="onAttachCardOkClick()">Ok</button>
    </div>
  </div>
</div>
