$purple: #8A21DC;
$grey: #F5F6F8;
$grey-2: #E9EFF2;
$red: #e84b4b;

$green-60percent: rgba(0, 165, 0, 0.6);
$purple-60percent: #8b21dc60;
$red-60percent: #ec161660;

$purple-20percent: #8b21dc20;

$red-p: #D64C4C;
$grey-p: #707782;
$light-grey-p: #A3A5A7;

$grey-svg: #707782;
$light-grey-svg: #A3A5A7;
$red-svg: #D64C4C;

$purple-hover-button: #7f10d4;
$red-hover-button: #d54040;