# =========================
# Build outputs (.NET)
# =========================
**/bin/
**/obj/

# =========================
# Node / frontend
# =========================
**/node_modules/
**/dist/
**/build/

# =========================
# IDE / editor
# =========================
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
**/.editorconfig
*.sln
*.config

# =========================
# Git
# =========================
.git/
.gitignore
.gitattributes

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.cache

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests (optional!)
# =========================
**/*Tests/
**/*.Test*/

# =========================
# OTHER
# =========================
**/bin
**/obj
**/.vs
**/.vscode
**/*.md
**/docker-compose*
.git
**/scripts
