<div class="contactsInfo">
  <div class="contactsInfoContainer">
    <span class="titleSpan">
      <p class="title">Contacts</p>
      <svg-icon src="../../../assets/svg/contacts.svg" class="titleContactsSvg" />
    </span>
    <p class="overview">An overview of contacts</p>
    <div class="search">
      <input type="text" class="searchInput" placeholder="Search Contacts"
             [ngModel]="searchText$ | async" (ngModelChange)="searchText$.next($event)" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <ng-container *ngIf="{
    contacts: (contacts$ | async) || [],
    searchedContacts: (searchedContacts$ | async) || [],
    searchText: (searchText$ | async) || ''
    } as data">
      <div class="contactsList" [@contactListAnimation]=""
           *ngIf="data.contacts.length > 0 && data.searchText.length === 0" >
        <div *ngFor="let contact of data.contacts" class="contactItem">
          <p class="contactItemUsername">Username: {{_textService.pullUsernameFromMail(contact.contact.email)}}</p>
          <p class="contactItemStatus">Status: {{contact.contact.userStatus}}</p>
          <svg-icon src="../../../assets/svg/minus.svg" class="plusSvg" (click)="onClickDeleteContactHandler(contact.contactId)"/>
        </div>
      </div>
      <div class="contactsList" [@contactListAnimation]=""
           *ngIf="data.searchedContacts.length > 0 && data.searchText.length > 0" >
        <div *ngFor="let contact of data.searchedContacts" class="contactItem">
          <p class="contactItemUsername">Username: {{_textService.pullUsernameFromMail(contact.contact.email)}}</p>
          <p class="contactItemStatus">Status: {{contact.contact.userStatus}}</p>
          <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" (click)="onClickAddContactHandler(contact.contactId)"/>
        </div>
      </div>
    </ng-container>
    <div class="contactsList" *ngIf="!_contactsStateService.wasContactsRequested">
      <p-skeleton styleClass="skeletonContactItem" />
      <p-skeleton styleClass="skeletonContactItem" />
      <p-skeleton styleClass="skeletonContactItem" />
      <p-skeleton styleClass="skeletonContactItem" />
    </div>
  </div>
</div>
<div class="emptyBlock"></div>