<div class="contactsInfo">
  <div class="contactsInfoContainer">
    <span class="titleSpan">
      <p class="title">Contacts</p>
      <svg-icon src="../../../assets/svg/contacts.svg" class="titleContactsSvg" />
    </span>
    <p class="overview">An overview of contacts</p>
    <div class="search">
      <input type="text" class="searchInput" placeholder="Search Contacts" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <div class="contactsList" [@contactListAnimation]>
      <div *ngFor="let contact of contacts" class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
    </div>
<!--    <div class="contactsList">-->
<!--      <p-skeleton styleClass="skeletonContactItem" />-->
<!--      <p-skeleton styleClass="skeletonContactItem" />-->
<!--      <p-skeleton styleClass="skeletonContactItem" />-->
<!--      <p-skeleton styleClass="skeletonContactItem" />-->
<!--    </div>-->
  </div>
</div>
<div class="emptyBlock"></div>
