<div class="contactsInfo">
  <div class="contactsInfoContainer">
    <p class="title">Contacts</p>
    <p class="overview">An overview of contacts</p>
    <div class="search">
      <input type="text" class="searchInput" placeholder="Search Contacts" />
      <svg-icon src="../../../assets/svg/search.svg" class="searchSvg" />
    </div>
    <div class="contactsList">
      <div class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
      <div class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
      <div class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
      <div class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
      <div class="contactItem">
        <p class="contactItemUsername">Username: Lewis Farrell</p>
        <p class="contactItemStatus">Status: Active</p>
        <svg-icon src="../../../assets/svg/plus.svg" class="plusSvg" />
      </div>
    </div>
  </div>
</div>
<div class="emptyBlock"></div>